@use '../variaveis';

.infos-bar {
    padding: 16px 24px;
    background-color: variaveis.$textColor;
    
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 32px; 

    &__text {
        font-size: 16px;
        font-weight: bold;
        color: variaveis.$secondaryTextColor;
    }

    @media (max-width: 640px) {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
}